@using Parsing_on_.net.Models;

@model List<Shop>

<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title>Главный экран</title>
</head>
    <body>
        <div>
            @using (Html.BeginForm("Index", "Home"))
            {
                <button name="action" value="update">Обновить магазины</button>
                <button name="action" value="excel">Скачать магазины в формате Excel</button>
                <button name="action" value="csv">Скачать магазины в формате CSV</button>
                <button name="action" value="timer">Скачать время парсинга</button>
            }

            @if (Model != null)
            {
                <table border="1">

                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Discount @item.Label
                        </td>
                        <td>
                            <img src="@item.Image" />
                        </td>
                        <td>
                            <a href="@item.URL">Ссылка на сайт</a>
                        </td>
                    </tr>

                    }

                </table>
            }
            </div>
    </body>
</html>